// # Colors Palette

// | Basic colors
$white: #fff;
$light-grey: #4f5a69;
$dark-grey: #3c4858;
$black: #000;

// | Main Text colors
$primary-text-color: #161c2d;
$secondary-text-color: #8492a6;
$tertiary-text-color: #4567d9;

// | Main Background colors
$primary-bg-color: #f8f9fc;
$secondary-bg-color: #e4e9f8;
$tertiary-bg-color: #e94649;
$footer-bg-color: #202942;

// | Decoration Section colors
$quickstart-text-color: #2fbd86;
$business-plan-label: #f17425;

// | Buttons Colors
$btn-border: #adb5bd;
